<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/public/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="/public/css/style2.css" type="text/css" media="all">
  <link rel="stylesheet" href="/public/css/zerogrid.css">
  <link rel="stylesheet" href="/public/css/responsive.css">
  <link rel="stylesheet" href="/public/css/responsiveslides.css" />
  <link rel="stylesheet" type="text/css" href="public/css/table.css">
  <link rel="stylesheet" type="text/css" href="public/css/login-style.css">

  <% if (title == 'User Manage | LearnVid - E-learning Video Online' || title == 'Video Upload | LearnVid - E-learning Video Online' ||
         title == 'Confirm Edit | LearnVid - E-learning Video Online') 
    { %>
      
        <link rel="stylesheet" type="text/css" href="public/bower_components/pure/pure.css">
      
   <% } %>

  <script type="text/javascript" src="/public/js/jquery-1.4.2.min.js" ></script>
  <script type="text/javascript" src="/public/js/cufon-yui.js"></script>
  <script type="text/javascript" src="/public/js/Humanst521_BT_400.font.js"></script>
  <script type="text/javascript" src="/public/js/Humanst521_Lt_BT_400.font.js"></script>
  <script type="text/javascript" src="/public/js/roundabout.js"></script>
  <script type="text/javascript" src="/public/js/roundabout_shapes.js"></script>
  <script type="text/javascript" src="/public/js/gallery_init.js"></script>
  <script type="text/javascript" src="/public/js/cufon-replace.js"></script>
  <script type="text/javascript" src="/public/js/datetimepicker_css.js"></script>

  <script type="text/javascript" src="/public/js/flowplayer/flowplayer-3.2.13.min.js"></script>

  <script src="public/js/css3-mediaqueries.js"></script>
  <!--[if lt IE 7]>
    <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/IE9.js"></script>
  <![endif]-->

  <script type="text/javascript">

  /***********************************************
  * Drop Down Date select script- by JavaScriptKit.com
  * This notice MUST stay intact for use
  * Visit JavaScript Kit at http://www.javascriptkit.com/ for this script and more
  ***********************************************/

  var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];

  function populatedropdown(dayfield, monthfield, yearfield){
  var today=new Date()
  var dayfield=document.getElementById(dayfield)
  var monthfield=document.getElementById(monthfield)
  var yearfield=document.getElementById(yearfield)
  for (var i=0; i<31; i++)
  dayfield.options[i]=new Option(i, i+1)
  dayfield.options[today.getDate()]=new Option(today.getDate(), today.getDate(), true, true) //select today's day
  for (var m=0; m<12; m++)
  monthfield.options[m]=new Option(monthtext[m], monthtext[m])
  monthfield.options[today.getMonth()]=new Option(monthtext[today.getMonth()], monthtext[today.getMonth()], true, true) //select today's month
  var thisyear=today.getFullYear()
  for (var y=0; y<20; y++){
  yearfield.options[y]=new Option(thisyear, thisyear)
  thisyear+=1
  }
  yearfield.options[0]=new Option(today.getFullYear(), today.getFullYear(), true, true) //select today's year
  }

  </script>
  
  <script src="public/js/responsiveslides.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
      auto: true,
      pager: false,
      nav: true,
      speed: 500,
      maxwidth: 962,
      namespace: "centered-btns"
      });
    });
  </script>
  
</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
      <h1><a href="/">LearnVid</a></h1>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LearnVid - E-learning Video Online</title>
      