<% var title = 'Home | LearnVid - E-learning Video Online' %>
<% include header %>

    <nav>
        <ul>
          <li><a href="/" class="current" style="font-size:18px">Home</a></li>
          <li><a href="/conference" style="font-size:18px">Conference</a></li>
          <li><a href="/streaming" style="font-size:18px">Streaming</a></li>          
          <li><a href="/login_page" style="font-size:18px">Log in</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper zerogrid">
      <div class="row">

          <!-- aside -->
        <div class="col-1-3">
        <div class="wrap-col">
              <aside>
                <h2>Content <span>Feature</span></h2>
                <!-- .news -->
                <ul class="news">
                  <li>
                    <figure style="font-size:12px"><strong style="font-size:12px; margin-top:0.3cm; margin-bottom:0.01cm">Home</strong>Page</figure>
                    <h3><a href="/">Home Page</a></h3>
                    This is home page for LearnVid 
                  </li>
                  <br>
                  <li>
                    <figure style="font-size:8px"><strong style="font-size:12px; margin-top:0.3cm; margin-bottom:0.01cm">Video</strong>Conference</figure>
                    <h3><a href="/conference">Video Conference</a></h3>
                    This is feature to watch live lecturer lesson streaming online
                  </li>
                  <li>
                    <figure style="font-size:8px"><strong style="font-size:12px; margin-top:0.3cm; margin-bottom:0.01cm">Video</strong>Streaming</figure>
                    <h3><a href="/streaming">Video Streaming</a></h3>
                    This is feature to watch learning video streaming online
                  </li>
                  <li>
                    <figure style="font-size:12px"><strong style="font-size:12px; margin-top:0.3cm; margin-bottom:0.01cm">Login</strong>Page</figure>
                    <h3><a href="/login_page">Login Page</a></h3>
                    This is feature to log in into system (only lecturer and administrator)
                  </li>
                </ul>
                <!-- /.news -->
              </aside>  
        </div>
      </div>

          <!-- content -->
      <div class="col-2-3">
        <div class="wrap-col">
              <section id="content">

                <article>
                  <h2>Welcome to <span>LearnVid</span></h2>
                  <p>LearnVid is a video learning system that brought our lesson into streaming video online.
                  We provide real-time lesson from our lecturer and streaming lesson video scheduled by 
                  our lecturer.
                  </p>

                  <p>If you have any issues about our services, you can contact us at support@learnvid.co.id</p>

                </article> 

              </section>
        </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>

<% include footer %>
