<% var title = 'Login | LearnVid - E-learning Video Online' %>
<% include header %>

     <nav>
        <ul>
          <li><a href="/" style="font-size:18px">Home</a></li>
          <li><a href="/conference" style="font-size:18px">Conference</a></li>
          <li><a href="/streaming" style="font-size:18px">Streaming</a></li>          
          <li><a href="/login_page" class="current" style="font-size:18px">Log in</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="main-box" style="padding-bottom:50px;">
    <div class="login-wrap" style="margin-top:50px;" >
      
      <h2>Login</h2>
      <% if (error != 'none') { %>
      <h3 style="color:red; margin-left:1cm"> <%= error %> </h3>
      <% } %>
      <div class="form" >
        <form method="POST" action="/login_page">
          <input type="text" placeholder="Username" name="username" />
          <input type="password" placeholder="Password" name="password" />
          <button type="submit"> Log in </button>
          <!-- <a href="#"> <p> Don't have an account? Register </p></a> -->
        </form>
      </div>
    </div>
  <script src="public/js/login-form.js"></script>
           
  </div>

<% include footer %>
